// Define variables for your color scheme

// For example:
$red: #D2002A;
$blue: #469AE0;
$blue-ocean: #45e7ff;
$yellow: #F5E900;
$orange: #E67E22;
$green: #32B796;
$gray: #e8dcdc;
$light-gray: #edd7d7;
$black: #130E0A;
